@import "../../slyles/variables";
@import "../../slyles/mixins";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @include onPhone() {
    width: 328px;
  }
  @include onTablet() {
    width: 380px;
  }
  @include onLaptop() {
    width: 380px;
  }
  @include onDesktop() {
    width: 380px;
  }

  &_title {
    @include HeadingFont();
    text-align: center;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &_button {}
}
