@import '../../slyles/mixins';
@import '../../slyles/variables';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  @include onPhone() {
    width: 328px;
  }

  @include onTablet() {
    width: 344px;
  }

  @include onLaptop() {
    width: 282px;
  }

  @include onDesktop() {
    width: 370px;
  }

  //width: 100%;
  padding: 20px;

  background: #FFF;
  border-radius: 10px;

  &_photo {
    border-radius: 50%;
  }

  &_info {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    &--title {
      margin: 20px 0;
    }
  }
}
