@import "../../slyles/variables";

.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #FFF;
  border: 1px solid $grey;
  border-radius: 5px 5px 0 0;

  position: fixed;
  right: 50px;
  bottom: 24px;

  &_title {
    display: block;
    margin: 5px 10px;
    justify-self: start;
  }

  &_progress {
    &--wapper {
      border-top: 1px solid $grey;
    }

    &--container {
      background-color: #FFF;
    }
  }
}
