@import "../../slyles/variables";

.action_button {
  width: 100px;
  padding: 4px;

  background: rgba($primary, 0.87);
  border: none;
  border-radius: 80px;

  &:hover {
    background: $primary-active;
    cursor: pointer;
  }

  &:disabled {
    background: $disabled;
    color: rgba(255, 255, 255, 0.87);
  }
}
