@import "../../slyles/variables";

.action_button {
  width: 100px;
  padding: 4px 0;

  background: $primary;
  border: none;
  border-radius: 80px;

  color: rgba(0, 0, 0, 0.87);

  &--large {
    width: 120px;
  }

  &:hover {
    background: $primary-active;
    cursor: pointer;
  }

  &:disabled {
    background: $disabled;
    color: rgba(255, 255, 255, 0.87);
  }
}
